body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Lato, sans-serif;
}
.header {
  height: 100%;
  background: #0782A1;
}


.bg {
  /* The image used */
  background-image: url("image/brandart.JPG");

  /* Full height */
  height: 100%; 
  opacity: 0.9;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #034C7C;
  color: #fff;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 10px;
}

